<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="trimet-home" data-view="Trimet" data-stops="915"></div>
    </li>
  </ul>
</div>
